.container {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container input {
    height: 40px;
    border: none;
    outline: none;
    background-color: rgb(54, 94, 121);
    padding: 0 6px;
    color: rgb(255, 239, 224);
    font-size: 18px;
}

.container input::placeholder {
    color: rgb(255, 168, 168);
}

.container button {
    height: 60px;
    border-radius: 6px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: rgb(54, 94, 121);
    font-size: 24px;
    background: rgb(255, 218, 184);
    box-shadow: 0 3px 10px 1px rgba(54, 94, 121, 0.466);


}