*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 100;
    color: rgb(27, 27, 27);
}

body{
    background-color: rgb(54, 94, 121);
}
.container {
    max-width: 700px;
    width: 100%;
    padding: 20px;
    margin:20px auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 168, 168);
    box-shadow:inset 0 0 5px 1px rgba(255, 0, 0, 0.288);
    position: relative;
}
.container::before{
    content:'';
    width:80px;
    height: 80px;
    background-image:linear-gradient(-45deg, rgb(54, 94, 121) 40%, rgba(255, 0, 0, 0.288) 1%, rgba(25, 25, 25, 0) 45%);
    position: absolute;
    border-bottom:solid 4px rgb(54, 94, 121);
    border-right:solid 4px rgb(54, 94, 121);
    bottom: -4px;
    right: -4px;
    z-index: 1;

}

.container::after{
    content:'';
    width:40px;
    height: 40px;
    position: absolute;
    background-color:  rgb(54, 94, 121);
    border-radius: 50%;
    border: solid 2px white;
    top: 8px;
    left: 8px;

}

.title{
    font-size: 50px;
    color: rgb(54, 94, 121);
}